header{
	.navbar-default {
		background-color: transparent;
		border-color: none;
		border-bottom:0;
		.navbar-header{
			margin-right: 0px;
			margin-left: 7px;
			.navbar-brand{
				padding:50px 15px 0; 
			}
			.navbar-toggle {
				margin-top: 20px;
			}
			a{
				color:$orange;
				font-size: 36px;
				span{
					color:$orangelight;
				}
			}
		}
		.navbar-nav {
			padding: 32px 15px 0;
			a.active{
				color:$orange;
				background:transparent;
			}
			li a{
				font-size: 16px;
				color:$graylight;
				&:hover {
					background-color: $white;
					color: $orange;
				}
			}
		}
	}
}

 .active{
	color:#E8663C !important;
}

//==HEADER==//




